@use "./variables" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
}

.container.header {
    @include display-flex-between;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

h4,
h5 {
    padding: 0.35rem 0;
}