* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
}

.container.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

h4,
h5 {
    padding: 0.35rem 0;
}

a {
    padding-right: 0.4rem;
}