@use "./variables" as *;

#site_main {
    margin-top: 6rem;
    margin-bottom: 1rem;

    .card {
        position: relative;
        width: calc(((100% / 12) * 4) - 1rem);
        margin-bottom: 1rem;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 0 0 3px 1px $bool-shadow;

        img {
            width: 100%;
        }
    }

    .info {
        position: absolute;
        left: 0;
        bottom: 6rem;
        display: flex;
        gap: 0.3rem;

        .discount {
            background-color: $bool-danger;
            padding: 0.1rem 0.4rem;
            color: $bool-lighter;
            font-size: 0.8rem;
        }

        .eco-friendly {
            background-color: $bool-accent;
            padding: 0.1rem 0.4rem;
            color: $bool-lighter;
            font-size: 0.8rem;
        }
    }

    .text {
        padding: 0.5rem;

        .brand {
            color: $bool-light;
            font-size: 0.8rem;
        }

        h5 {
            cursor: pointer;
        }

        .new-price {
            color: $bool-danger;
            font-weight: bold;
            font-size: 0.9rem;
            padding-right: 0.3rem;
        }

        .old-price {
            font-size: 0.9rem;
            text-decoration: line-through;
        }
    }

    .heart {
        @include display-flex-center;
        position: absolute;
        font-size: 1.2rem;
        top: 1rem;
        right: 0;
        width: 2rem;
        height: 2rem;
        background-color: $bool-lighter;

        &:hover {
            color: $bool-danger;
            cursor: pointer;
        }
    }
}