@use "./variables" as *;

@media screen and (max-width : 991px) {
    .card {
        width: calc(((100% / 12) * 6) - 1rem) !important;
    }

    .copyright {
        display: flex;
        flex-direction: column;
    }

    .modal-content {
        width: 75% !important;
    }
}

@media screen and (max-width : 540px) {
    .card {
        width: 100% !important;
    }

    .categories {
        @include display-flex-center;
        position: relative;

        .fa-bars {
            display: block !important;
        }

        ul {
            position: absolute;
            background-color: $bool-shadow;
            top: 2.3rem;
            left: 0;
            padding: 0.3rem;

            li {
                padding: 0.4rem 0;

                &:hover {
                    background-color: $bool-navbar;
                }
            }
        }
    }

    .modal-content {
        .modal-bottom {
            flex-direction: column;

            .prod-images {
                justify-content: center;
            }

            .modal-right {
                height: 100px !important;
            }
        }
    }

    .d-none {
        display: none !important;
    }

    .d-block {
        display: block !important;
    }
}