@use "./variables" as *;

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bg-modal;
    z-index: 1000;

    .modal-content {

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $bool-lighter;
        border-radius: 20px;
        border: 1px solid black;
        width: 600px;

        .modal-top {
            background-color: $bool-navbar;
            padding: 1rem;
            text-align: right;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

            .close {
                border: none;
                background-color: $bool-navbar;
                color: $bool-lighter;

                >i {
                    font-size: large;
                    cursor: pointer;
                }
            }
        }

        .modal-bottom {
            display: flex;
            align-items: center;
            padding: 1rem;

            .modal-left {
                display: flex;

                .prod-image {
                    margin-right: 1rem;
                    text-align: center;

                    >img {
                        height: 200px;
                    }
                }
            }

            .modal-right {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
            }
        }
    }

}